.frame-img {
	max-height: 55px;
}

.frame-image,
.new-frame-image {
	width: 100%;
}

.frame-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.price-input, .price-inputs {
	width: 90px;
}

.datepicker-input {
	width: 120px;
}

.operator-price-select,
.operator-promotion-select {
	width: auto;
	display: inline;
	vertical-align: unset !important;
}

#products-table .table th,
td {
	text-align: center;
}

.table-bordered>:not(caption)>* {
	border-color: #c7c7c7;
}

.checkbox-badge {
	line-height: unset;
}

.inactive-frame {
	background-color: #13ee0040 !important;
}

.active-frame {
	background-color: #fff !important;
}

.slim-select {
	width: auto;
	display: inline-flex;
}

.table>tbody {
	vertical-align: middle;
}

#mass-insert-form {
	background-color: #0d6efd38;
	padding: 5px;
	border-radius: 10px;
}

.product-row {
	border-top: 2px solid var(--bs-gray) !important;
}

.pointer {
	cursor: pointer;
}