.frame-img {
	max-height: 50px;
}

.frame-image, .new-frame-image {
	width: 100%;
}

.frame-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.price-input {
	width: 90px;
}

.datepicker-input {
	width: 120px;
}

.operator-price-select, .operator-promotion-select {
	width: auto;
	display: inline;
}

.table th, td {
	text-align: center;
}